@import url('https://fonts.googleapis.com/css2?family=Rubik:wght@300;400;500;600&display=swap');

body {
  background-color: #070707;
  color: #FAFAFA;
  margin: 0;

  /* height: 100vh; */
  /* Para ficar cravada a altura da tela,
  posicionar a tabela */
  height: -o-calc(100vh - 65px);
  height: -webkit-calc(100vh - 65px);
  height: -moz-calc(100vh - 65px);
}

h1,
h2,
h3,
h4,
span,
a,
i,
p {
  margin: 0;
}

ul, li {
  list-style: none;
  margin: 0;
  padding: 0;
}

button {
  border: none;
  background: none;
  padding: 0;
  margin: 0;
}

a {
  text-decoration: none;
  color: inherit;
}

address {
  font-style: normal;
}

button {
  background-color: white;
  margin: 5px 5px 5px;
  padding: 3px;
}